.log {
  background-image: url('https://media.giphy.com/media/l4EoPR59UqomvFUKk/giphy.gif');
  background-size: cover;

}

.register{
  background: darkgray;  
}
.Login {
  margin-top: 30px; 
}

.head{
  margin-left: 560px; 
  font-family: 'Permanent Marker', cursive;
  color: red; 
}

h1 {
  font-family: 'Permanent Marker', cursive;
  color: black ; 
}

h5{
  margin-left: 500px; 
  color: black;
  
}

button{
  margin-left: 620px; 
}

.registration{
  border: 1px; 
  

}

.signup{
  margin-right: 50px;
  background-color: black;
  color: white;  
}

label{
  color:  black; 
}

